.blob {
  position: absolute;
  height: 100vmax;
  border-radius: 100%;
  z-index: -99999;
  overflow: clip;
}

.blob1 {
  opacity: 12%;
  top: 20%;
  left: -10%;

  scale: 1 1.5;
}

.blob2 {
  opacity: 16%;
  bottom: 0%;
  right: -20%;

  scale: 2;
}
