.main {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;

  margin-bottom: 1rem;
}

.emphasis {
  background: var(--clr-gradient-min);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;

  animation: fadeUp 1s;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
  font-size: 2.5rem;
  margin: 0;
}

.hello {
  --hello-scale: 10;
  display: inline-block;
  animation: helloFadeIn 1s;
  font-size: 1.5rem;
  font-weight: bold;
}

.iam {
  opacity: 0;
  animation: fadeUp 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  opacity: 0;
  animation: fadeUp 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes helloFadeIn {
  0% {
    opacity: 0;
    scale: var(--hello-scale);
    transform: translateX(4ch);
  }
  50% {
    scale: var(--hello-scale);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .card {
    padding: var(--space-xs);
    margin: var(--space-s);
  }

  .hello {
    --hello-scale: 3;
  }
}
