.signature {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.33rem;
  background-color: var(--clr-black);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  animation: fadeUp 1s;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
}

.copyright {
  border-radius: 0.5rem;
  width: fit-content;
}

@media (max-width: 1024px) {
  .signature {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    background-color: unset;
    padding: 0;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(24px);
    visibility: 1;
  }
  100% {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
  }
}
