.signature {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.33rem;
  background-color: var(--clr-neutral50);

  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  border-radius: 0.5rem;
  width: fit-content;
}

@media (max-width: 1024px) {
  .signature {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    background-color: unset;
    padding: 0;
  }
}
