.projectContainer {
  background: rgba(var(--clr-white-rgb), 0.1);
  border-radius: 0.66rem;
  padding: 1.33rem;
  will-change: auto;
}

.title {
  margin: 0;
  word-break: nowrap;
}

.type {
  font-style: italic;
  padding-bottom: 1rem;
}

.description {
  padding-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  flex: 0 0 calc(33.3333333% - 0.999999rem);
}

.tech {
  display: inline;
  font-size: 0.66rem;
  font-weight: 600;
  padding: 0.165rem 0.33rem;
  margin-right: 0.33rem;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border-radius: 0.133rem;
  width: max-content;
}

@media (max-width: 1366px) {
  .flex {
    flex: 0 0 100%;
  }
}
