@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  color: var(--clr-white);
}

html {
  font-size: clamp(14px, 15px + 0.390625vw, 1.125rem);
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  background: var(--clr-background);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --clr-white: #ddd;
  --clr-black: #000;
  --clr-light-green: #c6ffdd;
  --clr-yellow: #fbd786;
  --clr-pink: #f7797d;
  --clr-background: linear-gradient(#000000, #101010);

  /* Gradients */
  --clr-gradient: linear-gradient(
    to right,
    var(--clr-light-green),
    var(--clr-yellow),
    var(--clr-pink)
  );
  --clr-gradient-min: linear-gradient(
    to right,
    var(--clr-light-green),
    var(--clr-yellow)
  );

  /* Fixed spacing */
  --space-xxs: 1rem;
  --space-xs: 2rem;
  --space-s: 3rem;
  --space-m: 6rem;
  --space-l: 12rem;

  /* Spacing based on viewport width */
  --spacew-xxs: 1vw;
  --spacew-xs: 2vw;
  --spacew-s: 3vw;
  --spacew-m: 6vw;
  --spacew-l: 12vw;

  /* Spacing based on viewport height */
  --spaceh-xxs: 1vh;
  --spaceh-xs: 2vh;
  --spaceh-s: 3vh;
  --spaceh-m: 6vh;
  --spaceh-l: 12vh;
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

a:hover {
  color: var(--clr-yellow);
  transition: color 150ms linear;
}

[data-light] {
  --clr-white: #350507;
  --clr-black: #ffeab8;
  --clr-yellow: #e94057;
  --clr-background: linear-gradient(#ffffff, #f7ece9);

  /* Gradients */
  --clr-gradient: linear-gradient(to right, #8a2387, #e94057, #f27121);
  --clr-gradient-min: linear-gradient(to right, #e94057, #f27121);
  transition: all 0.25s ease;
}

[data-light] a:hover {
  color: #e94057;
}

ul,
ol {
  list-style: none;
}
