@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  color: var(--clr-white);
}

html {
  font-size: clamp(14px, 15px + 0.390625vw, 1.25rem);
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  background: var(--clr-background);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --clr-white: #e8e8ed;
  --clr-gray: #2c2a2a;
  --clr-black: #161616;
  --clr-light-green: #c6ffdd;
  --clr-yellow: #fbd786;
  --clr-pink: #f7797d;
  --clr-background: linear-gradient(#000, var(--clr-gray));

  /* Gradients */
  --clr-gradient: linear-gradient(
    to right,
    var(--clr-light-green),
    var(--clr-yellow),
    var(--clr-pink)
  );
  --clr-gradient-min: linear-gradient(
    to right,
    var(--clr-light-green),
    var(--clr-yellow)
  );

  /* Fixed spacing */
  --space-xxs: 1rem;
  --space-xs: 2rem;
  --space-s: 3rem;
  --space-m: 6rem;
  --space-l: 12rem;
  --space-xl: 16rem;

  /* Spacing based on viewport width */
  --spacew-xxs: 1vw;
  --spacew-xs: 2vw;
  --spacew-s: 3vw;
  --spacew-m: 6vw;
  --spacew-l: 12vw;
  --spacew-xl: 16vw;

  /* Spacing based on viewport height */
  --spaceh-xxs: 1vh;
  --spaceh-xs: 2vh;
  --spaceh-s: 3vh;
  --spaceh-m: 6vh;
  --spaceh-l: 12vh;
  --spaceh-xl: 16vh;
}

h1 {
  color: var(--clr-white);
}

a {
  color: var(--clr-white);
  text-decoration: none;
}

a:hover {
  filter: brightness(1.5) opacity(0.5);
  transition: filter 0.2s;
}

[data-light] {
  --clr-white: #161616;
  --clr-black: #fefefe;
  --clr-background: #fff;
  --clr-yellow: #f7797d;

  /* Gradients */
  --clr-gradient: linear-gradient(to right, #8a2387, #e94057, #f27121);
  --clr-gradient-min: linear-gradient(to right, #e94057, #f27121);
  transition: all 0.25s ease;
}

[data-light] div[class*="blob"] {
  mix-blend-mode: multiply !important;
  filter: blur(128px) saturate(3) !important;
}

[data-light] a:hover {
  color: #e94057;
}

ul,
ol {
  list-style: none;
}
