.container {
  display: block;
  margin: auto;
  padding: 0 var(--space-xxs);
}

@media (max-width: 1536px) {
  .container {
    max-width: 100vw;
  }
}

@media (max-width: 512px) {
  .container {
    padding: 0 0.5rem;
  }
}
