.full {
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.rotating {
  display: inline-block;
  animation: rotation 10s infinite linear;
}

.bobbing {
  animation: bobbing 3s ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 359deg);
  }
}
