.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 1.75rem;
  opacity: 0;
  animation: fadeDown 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.link {
  border: none;
  background: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 1rem;
}

.link:hover {
  color: var(--clr-yellow);
}

.linkEmoji {
  display: none;
}

.activeLink {
  background: var(--clr-gradient-min);
  background-clip: text;
  color: transparent;
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .link {
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1.25rem;
  }

  .linkEmoji {
    display: block;
  }

  .linkName {
    display: none;
  }

  .menu {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: var(--clr-black);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
