.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 1.75rem;
  opacity: 0;
  animation: fadeDown 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.link {
  cursor: pointer;

  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.33rem;
  padding: 0.33rem 0.66rem;
}

.link:not(.activeLink):hover {
  color: var(--clr-white);
  outline: 1px solid var(--clr-gray);
}

.linkEmoji {
  display: none;
}

.activeLink {
  border-radius: 0.33rem;
  background: var(--clr-white);
  color: var(--clr-black);
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .link {
    line-height: 1.25rem;
  }

  .linkEmoji {
    display: block;
  }

  .linkName {
    display: none;
  }

  .menu {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    min-width: 100vw;

    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 10%;
  }

  .menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: var(--clr-black);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
