.blob {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vmax;
  pointer-events: none !important;
}

.bigBlob {
  top: 66vh;
  opacity: 12%;
  filter: hue-rotate(172deg);
}

.smallBlob {
  opacity: 16%;
  scale: 1;
  z-index: -99997;

  scale: 0.2;
}

.cursor {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -6px 0px 0px -6px;
  border-radius: 50%;
  pointer-events: none !important;
  z-index: 99999999;

  background-color: rgba(var(--clr-white-rgb), 0.3);
}

.overlay {
  max-width: 100vw;
  overflow: hidden;
}
