.blob {
  position: absolute;
  height: 100vmax;
  pointer-events: none !important;
}

.blob1 {
  opacity: 12%;
  top: 33%;
  left: 0;
  right: 0;
  margin: auto;
  scale: 1.5;
  filter: hue-rotate(178deg);
}

.blob2 {
  opacity: 16%;
  top: 25%;
  left: 25%;
  z-index: -99997;
  mix-blend-mode: color;

  scale: 2;
}

.cursor {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -6px 0px 0px -6px;
  border-radius: 50%;
  pointer-events: none !important;
  z-index: 99999999;

  background-color: rgba(var(--clr-white-rgb), 0.3);
}

.overlay {
  max-width: 100vw;
  overflow: hidden;
}
