.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.main[data-justify="center"] {
  padding-top: 0;
  justify-content: center;
}
