.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
  padding: var(--space-m) var(--spacew-xl);
}

.main[data-justify="center"] {
  padding-top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionHeader {
  color: var(--clr-yellow);
  width: max-content;
  padding-bottom: 0.33rem;
  border-bottom: 1px solid var(--clr-yellow);

  font-size: 1rem;
}

@media (max-width: 1024px) {
  .main {
    padding: var(--space-m) var(--space-xxs);
    margin-top: 0;
  }
}
