.footer {
  width: 100%;
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  height: 6rem;
}

.copyright {
  display: block;
  margin: 0 auto;
  background-color: var(--clr-neutral200);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-black);
  width: fit-content;
}
