@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

/* Main Container */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--space-xxs);
  height: 4rem;

  position: sticky;
  top: 0;
}

.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  backdrop-filter: blur(8px);
}

/* Logo */
.brand {
  flex-shrink: 0;
  font-size: 1rem;
  font-family: "MuseoModerno", cursive;
  letter-spacing: 0.05rem;
  padding: 0.66rem;
  border-radius: 0.5rem;
}

.brand:hover {
  cursor: pointer;
  color: inherit;
}

.alwin {
  font-weight: 400;
}

.pamintuan {
  font-weight: 800;
}

.themeToggle {
  border-style: none;
  padding: 0.5rem;
  will-change: filter;
  background-color: transparent;
}

.themeToggle:hover {
  background-color: transparent;
}

.themeToggle[data-dark="false"] {
  filter: grayscale(0);
}

.themeToggle[data-dark="false"]:hover {
  filter: grayscale(0);
  text-shadow: 0px 0px 16px var(--clr-neutral500);
}

.themeToggle[data-dark="true"] {
  filter: grayscale(1);
}

.themeToggle[data-dark="true"]:hover {
  filter: grayscale(0.5);
  text-shadow: 0px 0px 16px yellow;
}

@media (max-width: 1024px) {
  .menu {
    z-index: 1;
    position: fixed;
    top: 0;
    right: -100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--space-xs);

    padding-top: var(--space-m);
    padding-right: var(--space-xs);
    height: 100vh;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.15s ease-in-out;
  }

  .menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
  }

  .signature {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 512px) {
  .pamintuan {
    display: none;
  }
}
