@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

/* Main Container */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  position: sticky;
  margin-top: 0.5rem;
  top: 0px;
}

.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  backdrop-filter: blur(8px);
}

/* Logo */
.brand {
  flex-shrink: 0;
  font-size: 18px;
  font-family: "MuseoModerno", cursive;
  letter-spacing: 0.05rem;
}

.brand:hover {
  cursor: pointer;
  color: inherit;
}

.alwin {
  font-weight: 400;
}

.pamintuan {
  font-weight: 800;
}

/* Navbar Links */
.link {
  border: none;
  background: none;
  font-size: 1rem;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;

  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: 500;
}

.link:hover {
  color: var(--clr-neutral50);
  background-color: var(--clr-black);

  --shadow-value: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  -webkit-box-shadow: var(--shadow-value);
  -moz-box-shadow: var(--shadow-value);
  box-shadow: var(--shadow-value);
}

.link:hover:after {
  transform: scaleY(1);
}

/* Burger Menu */
.burgerIcon {
  display: none;
  width: 22px;
  height: 18px;
  cursor: pointer;
}

.checkbox {
  width: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.burgerLines {
  width: 100%;
  margin-left: -100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burgerLines .line {
  height: 4px;
  width: 100%;
  border-radius: 12px;
  background: var(--clr-black);
}

.burgerLines .line1 {
  transform-origin: 100% 0%;
  transition: transform 0.15s ease-in-out;
}

.burgerLines .line2 {
  transition: transform 0.1s ease-in-out;
}

.burgerLines .line3 {
  transform-origin: 100% 100%;
  transition: transform 0.15s ease-in-out;
}

.checkbox:checked ~ .burgerLines .line1 {
  transform: rotate(-45deg);
}

.checkbox:checked ~ .burgerLines .line2 {
  transform: scale(0);
}

.checkbox:checked ~ .burgerLines .line3 {
  transform: rotate(45deg);
}

/* Menu Items */
.menu {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 1.75rem;
}

.hidden {
  display: none;
}

@media (max-width: 1280px) {
  .burgerIcon {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 2;
  }

  .menu {
    z-index: 1;
    position: fixed;
    top: 0;
    right: -100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--space-xs);

    padding-top: var(--space-m);
    padding-right: var(--space-xs);
    height: 100vh;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.15s ease-in-out;
  }

  .menu::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
  }

  .menu[data-burger="true"] {
    right: 0%;
  }

  .link {
    line-height: 1.25rem;
    margin-left: 6rem;
  }
}
