.profiles {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;

  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.profileIcon {
  width: 32px;
  fill: var(--clr-white);
}

.profileIcon:hover {
  animation: bobbing 1s infinite linear;
  opacity: 0.75;
}

@keyframes bobbing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
