.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.stackIconContainer {
  border-radius: 0.33rem;
  padding: 1rem;
  background: rgba(var(--clr-white-rgb), 0.1);
  filter: saturate(0.5) brightness(0.5);
}

.stackIconContainer:hover,
.inViewStackIconContainer {
  outline: 3px solid var(--clr-yellow);
  filter: saturate(1);
}

.stackIconContainer:hover .stackIcon,
.inViewStackIconContainer .stackIcon {
  transition: all 0.1s;
  transform: scale(1.1);
}

.stackIconContainer:hover .iconName,
.inViewStackIconContainer .iconName {
  display: block;
  position: absolute;
  text-align: center;
  top: -1.33rem;
  left: -1rem;
  font-size: small;
  white-space: nowrap;
  color: var(--clr-black);
  background-color: var(--clr-yellow);
  padding: 0.1rem 0.33rem;
  border-radius: 0.33rem;
}

.stackIcon {
  position: relative;
  object-fit: cover;
}

.iconName {
  display: none;
}

@media (max-width: 1280px) {
  .card {
    padding: var(--space-xs);
    margin: var(--space-s);
  }
}
