.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.stackIconContainer {
  border-radius: 0.33rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
  filter: saturate(0) brightness(1.33);
}

.stackIconContainer:hover {
  outline: 3px solid var(--clr-gray);
  filter: saturate(1);
}

.stackIconContainer:hover .stackIcon {
  transition: 0.1s;
  transform: scale(1.1);
}

.stackIconContainer:hover .iconName {
  display: block;
  position: absolute;
  text-align: center;
  top: -1.33rem;
  left: -1rem;
  font-size: small;
  white-space: nowrap;
  color: #e8e8ed;
  background-color: var(--clr-gray);
  padding: 0.1rem 0.33rem;
  border-radius: 0.33rem;
}

.stackIcon {
  position: relative;
  object-fit: cover;
}

.iconName {
  display: none;
}

@media (max-width: 1280px) {
  .card {
    padding: var(--space-xs);
    margin: var(--space-s);
  }
}
